@media screen and (max-width: 1300px) {
    .footer{
        grid-template:  'socials form logo' max-content
                    '. . copy' / 1fr 2fr 0.5fr;

        padding-left: 5px;
    }

    
}

@media screen and (max-width: 1200px) {
    .header{
        grid-template: 'logo nav search' ;
        justify-content: space-between;
        padding: 20px;
    }

    .main{
        grid-template-rows: auto;
        grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
        grid-template-areas: "freshy freshy freshy healthy"

        'slider-arrows slider-arrows slider-arrows healthy'

        'thirsty thirsty thirsty thirsty'

        'slider-dots slider-dots orange orange';

    }

    .slider-arrows, .slider-dots, .orange{
        height: 300px; 
    }

    .thirsty {
        padding-right: 90px;
    }

    .wrapper-down{
        grid-template: 'sidebar' auto
                        'footer' auto;
    }

    .sidebar .common_desc{
        max-width: 200px;
    }

    .sidebar{
        padding-left: 130px;
    }
}

@media screen and (max-width: 760px) {
    .footer{
        grid-template: 'socials' 'form'  'logo' 'copy' ;
        justify-items: center;
        align-items: center;
        gap: 30px;
        padding: 40px 20px;

    }
}

@media screen and (max-width: 700px) {
    .header{
        grid-template: 'logo menu-icon';
    }

    .header_nav{
        display: none;
    }

    .menu-icon{
        display: block;
        grid-area: menu-icon;
        justify-content: end;
    }

    .search{
        display: none;
    }

    .header-mobile{
        
        min-height: 100vh;

        grid-template: 'logo menu-icon' max-content 'nav nav' max-content 'search search';
        
        align-content: space-between;
        justify-items: center;
    }

    .header-mobile .search, .header-mobile .header_nav{
        display: block;
    }

    .header-mobile .header_nav ul{
        flex-direction: column;
        align-items: center;
    }

    .header_nav a::after{
        display: none;
    }

    .header_nav a{
        padding: 10px 20px;
    }
}

@media screen and (max-width: 600px) {
    .main{
        grid-template: 'healthy' 'slider-arrows' 'freshy' 'slider-dots' 'thirsty' 'orange';
    }

    .healthy{
        padding-bottom: 30px;
        flex-direction: row-reverse;
        justify-content: center;
    }

    .thirsty{
        padding-right: 30px;
    }

    .healthy .common_desc, .thirsty .common_desc, .sidebar .common_desc, .common_desc{
        max-width: unset;
    }

    .sidebar{
        padding-left: 30px;
    }
}

@media screen and (max-width: 350px) {
    .header, .footer{
        padding-left: 10px;
        padding-right: 10px;
    }

    .common{
        padding: 20px 15px;
        gap: 15px;
    }

    .form_input{
        width: 170px;
    }
}